django>=4.2
djangorestframework
django-cors-headers
python-dotenv
langchain
langchain-groq
langchain-text-splitters
langchain-community
langchain-qdrant
langchain-cohere
pypdf
python-docx
pymongo[srv]
cohere
qdrant-client
gunicorn
whitenoise
